:root {
--title-text-color: #212121;
--text-color: #757575;
--brend-color: #2196F3;
--primary-white-color:#ffffff;

}
body {
font-family:"Roboto", sans-serif;
font-style: normal;
font-size: 14px;
text-decoration: none;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    display: block;
}

.contanier {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;    
}

/*верхняя линия*/
.header {
    border-bottom: 1px solid #ECECEC;
}
.header-contanier {
    display: flex;
    align-items: center;
}

.logo-blue {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--brend-color);
    text-decoration: none;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
    }
.logo-header {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}
.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;;
    color:var(--primary-white-color);
    text-decoration: none;      
}

.navigtion-list {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;   
    padding-left: 0;
}
.navigtion-item {
    display: block;
    margin-right: 50px;
    list-style-type: none;   
}

.navigtion-item:last-child {
    margin-right: 0px;
}
.link { 
    display: block;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--title-text-color);
    text-decoration: none;  
    padding-top: 32px;
    padding-bottom: 32px;
}
.link.active{ 
    color: var(--brend-color);
}

.link:hover, 
.link:focus {
    color: var(--brend-color);
}

.header-gruop {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-gruop-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.group-mailto {  
    display: block;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
    padding-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.group-tel {
    display: block;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
}

.group-mailto:hover,
.group-mailto:focus,
.group-tel:hover,
.group-tel:focus {
    color: var(--brend-color);
}

/* шапка сайта*/

.hero {
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-top: 0px;
    margin-bottom: 30px;
    width: 696px;
    margin-right: auto;
    margin-left: auto;
}
.hero-navigtion {
    font-family: 'Roboto';
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;   
    color: var(--primary-white-color);
    background-color: var(--brend-color);
    border-style: none;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;    
}
.hero-navigtion:focus,
.hero-navigtion:active 
.hero-navigtion:hover{
    background-color: var(--brend-color);
}

.list-peculiarities {
    display: flex;
    width: 1170px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.item-peculiarities {
    width: 270px;
    margin-right: 30px;
}
.item-peculiarities:last-child {
    margin-right: 0;
}
.attention-to-detail, 
.punctuality,
.planning,
.modern-technologies{
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 10px;
}

.link-description {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);   
    margin-bottom: 0px;
    
}
.peculiarities,
.what-are-we-doing-pading {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
}

/*чем мы занимаемся*/

.what-are-we-doing {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 50px;   
    text-align: center;     
}
.list-what-are-we-doing {
    display: flex;
    justify-content:space-between ;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.going {
    background: url;
    mix-blend-mode: normal;
    display: block;
    max-width: 100%;
    height: auto;
}

/*наша команда*/

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 94px;
    text-align: center;
}
.member-list {
    display: flex;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 94px;
}

.member-group{
    padding-top: 30px;
    padding-bottom: 30px;
}
.member-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;    
    color: var(--title-text-color)1;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}
.member-position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;    
    color:var(--text-color);
    text-align: center;
}
.team {
    background-color: #F5F4FA;
}
.member-item {
    background-color: #ffffff; 
    margin-right: 30px;   
}
.member-item:last-child {
margin-right: 0;
}
.member-img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*подвал*/

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-contanier {
    display: flex;
    flex-direction: column;
}
.logo-footer-group {
    padding: 0;
    margin-bottom: 20px;
}
.link-footer {
    padding-top: 0;
    padding-bottom: 0;
}
.link-address {
    display: block;
    line-height: 1.71;
    letter-spacing: 0.03em;   
    color: var(--primary-white-color);
    font-style: normal;
    margin-top: 0;
    margin-bottom: 9px;   
}

.group-mailto-footer,
.group-tel-footer {
    display: block;
    font-style:normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff99;
    text-decoration: none;
}
.group-mailto-footer{
    margin-top: 0;
    margin-bottom: 9px;
}
.group-mailto-footer:hover,
.group-mailto-footer:focus,
.group-tel-footer:hover,
.group-tel-footer:focus {
    color: var(--brend-color);
}

/*портфолио*/
.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;   
    text-align: center;
    letter-spacing: 0.03em;    
    color: var(--title-text-color);
    border-style: none;
    border-radius: 4px;
    display: inline-block;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    min-width: 103px;
    min-height: 38px;
}
.filter-btn-active {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    background-color: var(--brend-color);
    border-style: none;
    border-radius: 4px;
    display: inline-block;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    min-width: 73px;
    min-height: 38px;
}
.filter-btn:active,
.filter-btn:focus {
    background-color: var(--brend-color);
    color: var(--primary-white-color);
    
}
.filter {
    padding-top: 94px;
    padding-bottom: 94px;
}
.filter-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding-left: 0;
}
.filter-item {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 8px;
}
.filter-item:last-child {
    margin-right: 0;
}
.portfolio {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    /*padding-bottom: 94px;*/
    margin-top: 0;
    margin-bottom: 0;
    
}
.portfolio-list {
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}
.portfolio-list:nth-child(n+7) {
    margin-bottom: 0;
}
.portfolio-group {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 4px;
    width: 322px;
}
.portfolio-position {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
    width: 322px;
}
.portfolio-img {
    display: block;
    max-width: 100%;
    height: auto;
}
.link:focus,
.link:hover {
    color: var(--brend-color);
}
.list,
.member-item,
.portfolio-list,
.item-peculiarities,
.navigtion-item,
.header-gruop-list,
.filter-item {
    list-style-type: none;  
}